@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #000000;
}
.dark {
  --background: #0f172a;
  --foreground: #f1f5f9;
}

.green {
  --background: #7fd19c;
  --foreground: #bf7725;
}

.purple {
  --background: #4e0707;
  --foreground: #b7b7b7;
}
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  body {
    @apply bg-background text-foreground transition-colors;
  }
}
@layer utilities {
  .container {
    @apply mx-auto;
  }
}
